<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.invision.unity">
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

  <uses-sdk android:minSdkVersion="22" android:targetSdkVersion="28" />
  
  <application
      android:allowBackup="true"
      android:supportsRtl="true"
      android:icon="@drawable/app_icon"
      android:label="@string/app_name"
      android:hardwareAccelerated="false"
         >


    <meta-data android:name="invision.display_mode" android:value="vr" />
    <activity
        android:name="com.invision.unity.activity.MainForUnityActivity"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:launchMode="singleTask"
        android:theme="@android:style/Theme.NoTitleBar" >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
        <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
        <category android:name="com.qti.intent.category.SNAPDRAGON_VR"/>
      </intent-filter>
      <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
      <meta-data android:name="com.osterhoutgroup.display_mode" android:value="extend"/>
    </activity>

    <!-- #############################  自更新使用属性 Start  ############################# -->
    <!--  必读！！！
    1：APPID/APPKEY填写自己APP所分配的值
    2：provider->authorities填写："com."+APPID+"."+APPKEY+".fileprovider"
    3：UpdateURL:为通过APPID获取Json的地址，通常不会修改
    -->
    <!--<provider
        android:name="android.support.v4.content.FileProvider"
        android:authorities="com.10007.e2642f3fc76ed5e764edd81c03e568db.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true" >
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/file_paths" />
    </provider>-->

    <meta-data android:name="APPID" android:value="10007"/>
    <meta-data android:name="APPKEY" android:value="e2642f3fc76ed5e764edd81c03e568db"/>
    <meta-data android:name="UpdateURL" android:value="http://kstest.shadowcreator.com/uat/p0/public/index/command/gateway"/>
    <!-- #############################  自更新使用属性 End  ############################# -->
    
    
  </application>
</manifest>
